.buyerBlogBg {
    background-image: url(../../../Constants/assets/images/BuyersBlog_Image/BuyersBlogBgImg.png);
    background-repeat: no-repeat;
    width: 100%;
    height: fit-content;
    background-size: 100% 100%;
    /* margin-top: -3.5%; */
}